html{scroll-behavior: smooth;}
body {
    background-color: #0f1620;
    font-style: italic;
	
}
.disableClick{
    pointer-events: none;
}
.btn {
    /* background-image: url(images/blue-btn.png); */
    width: 204px;
    height: 56px;
    padding: 13px 0px;
    color: white;
}


